<!-- Top Banner Section -->
<div class="container-fluid bg-secondary text-white py-2">
    <div class="d-flex align-items-center justify-content-between">
        <div id="hide-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </div>
        <div style="border: 2px solid red; padding: 5px;" id="menu-hide1">
            <b>Tisco Vision</b>
        </div>
        <div class="text-center mx-auto " id="menu-hide" style="border: 2px solid red; padding: 5px;" >
            Find the ideal gift for the real one
        </div>
        <button   class="shop-button"id="menu-hide" >CHOOSE GIFT-></button>
    </div>
    
</div>
{% comment %} working in mobile version {% endcomment %}
<div  id="inmobile" >
    <div class="row g-4">
        <!-- Text Content -->
        <div class="col-lg-6">
            <div class="text-black p-4 h-100">
                <h1 class="display-4 text-center mb-4" style="border: 2px solid red; padding: 5px;"><b>The Gift Guide</b></h1>
                <div style="border: 2px solid red; padding: 5px;">
                    <p class="fs-5 ms-5" >Discover joy: Your Ultimate Holiday Gift Destination.</p>
                    <p class="fs-5 ms-5">Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>
                </div>
                
                </div>
        </div>
        <!-- Image Content -->
    </div>
</div>


<!-- Full-Width Image Section -->
<div class="container-fluid p-0">
    <div >
        <button   class="shop-button1 postion"  >SHOP NOW-></button>
    </div>
    <img src="{{ 'Frame 1957.png' | asset_img_url }}" class="img-fluid" alt="Frame 1957" style="width: 100%;" id="imagewidth">
</div>

<!-- Content Section -->
<div class="container-fluid py-4" id="hidde">
    <div class="row g-4">
        <!-- Text Content -->
        <div class="col-lg-6">
            <div class="text-black p-4 h-100">
                <h1 class="display-4 text-center mb-4" style="border: 2px solid red; padding: 5px;"><b>The Gift Guide</b></h1>
                <div style="border: 2px solid red; padding: 5px;">
                    <p class="fs-5 ms-5" >Discover joy: Your Ultimate Holiday Gift Destination.</p>
                    <p class="fs-5 ms-5">Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>
                </div>
                <div style="margin-top: 50px; ">
                    <button   class="shop-button1" >SHOP NOW-></button>
                </div>
                </div>
        </div>
        <!-- Image Content -->
        <div class="col-lg-6"   >
            <img src="{{ 'second.png' | asset_img_url }}" class="img-fluid" alt="Second Image" style="width: 100%;" >
        </div>
    </div>
</div>

<!-- Bottom Banner Section -->
<div class="container-fluid bg-secondary text-white py-2">
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-center"  style="border:2px solid red; padding: 5px ;">
            <b>SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZE XXS TO 6XL</b>
        </div>
    </div>
</div>
<br>
<br>

<!-- Product Section -->
<h2 class="my-4" style="margin-left: 10px;">Tisco Vision in the Wild</h2>
<div class="container-fluid">
    <div class="row">
        {% for product in collections['frontpage'].products %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card my-3 p-3 rounded">
                <button id="myBtn{{ forloop.index }}" class="modal-btn" data-modal="myModal{{ forloop.index }}">
                    <div class="modal-body">
                        <div class="card-body" style="position: relative;">
                            <div class="plus-circle" >+</div>
                            <img src="{{product.featured_image | image_url }}" id="next" alt="{{ product.title }}" class="card-img-top product-image" />
                        </div>
                    </div>
                </button>

                <!-- The Modal -->
                <div id="myModal{{ forloop.index }}" class="modal"  >
                    <!-- Modal content -->
                    <div class="modal-content" onclick="closeModal()">
                        <span class="close" data-modal="myModal{{ forloop.index }}">&times;</span>
                        {% comment %} <p>{{ product.title }}</p> {% endcomment %}
                         <div style="display:flex;">
                            <img src="{{product.featured_image |  image_url: width: }}" style="width: 120px; height:130px;">
                            <div style="font-size:small; margin-left:20px;">
                                <div ><b>{{product.title}}</b></div>
                                <div>{{product.price}}$ </div>
                                <div>{{product.description}}</div>
                            </div>
                            
                        </div>
                        {% comment %} for color options {% endcomment %}
                         <h3>Color</h3>
                        <div >
                            {% assign color_option_index = -1 %}
                            {% assign color_limit = 0 %}
                            {% for option in product.options_with_values %}
                                {% if option.name == 'Color' %}
                                    {% assign color_option_index = forloop.index0 %}
                                {% endif %}
                            {% endfor %}
                        
                            {% if color_option_index >= 0 %}
                                <div class="color-options">
                                    {% for variant in product.variants %}
                                        {% assign color = variant.options[color_option_index] %}
                                        {% if color_limit < 2 %}
                                            <label style="display: inline-block; margin-right: 10px;">
                                                <input type="radio" name="color" value="{{ color }}" data-variant-id="{{ variant.id }}">
                                                <span style="background-color: {{ color | downcase }}; width: 20px; height: 20px; display: inline-block; border: 1px solid #ccc; margin-top:20px;"></span>
                                                {{ color }}
                                            </label>
                                            {% assign color_limit = color_limit | plus: 1 %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div style="font-size:medium;">Size</div>
                       
                        {%form 'product', product%}
                        <select name="id">
                        {% for variant in product.variants %}
                            
                            <option value="{{variant.id}}" default="Choose your style">
                                {{variant.title}}
                            </option>
                        {%endfor%}
                        </select>
                        <div>
                        
                        </div>
                        {% endform %}

                        <button style="width: 130px ; height:30px ; color:white; font-size:15px; background-color:black ;margin-left:130px;">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
